<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <location path="Alumnos.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <deny roles ="Maestros"/>
        <deny roles="Directivos"/>
        <allow roles="Alumnos" />
      </authorization>
    </system.web>
  </location>

  <location path="Maestros.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <deny roles="Alumnos"/>
        <deny roles="Directivos"/>
        <allow roles="Maestros" />
      </authorization>
    </system.web>
  </location>

  <location path="Directiva.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
        <deny roles="Alumnos"/>
        <deny roles="Maestros"/>
        <allow roles="Directivos" />
      </authorization>
    </system.web>
  </location>
  
</configuration>

